

.weather-container {
  width: 92%;
  /* max-width: 400px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.weather-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  margin-bottom: 0px;
  padding: 10px 0;
}

.location-info {
  display: flex;
  flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  
}

.city-name {
  font-size: 23px;
  font-family: "outfit-r";
  color: var(--theme-color); /* Orange-red accent */
  margin: 0;
  line-height: .9;
  text-align: left;
}

.country-name {
  font-size: 19px;
  font-weight: 500;
  color: #9195C1; /* Muted purple-grey */
  margin-top: 2px;
}

.date-time {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 6px;
}

.date-text {
  font-family: 'outfit-r';
  font-size: 18px;
  color: #9195C1;
  margin: 0;
  text-wrap: nowrap;
}

.time-text {
  font-family: 'bebas-r';
  font-size: 28px;
  color: var(--theme-color);
  margin: 0;
}

/* Current Weather */
.current-weather-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-top: none;
  border-bottom: none;
  width: 100%;
  /* height: 100%; */
  /* background-color: black; */
  padding-bottom: 12px;
}

.main-icon {
  color: var(--theme-color);
   display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  svg{
  width: 80px;
  height: 80px;
  stroke-width: 1px;
  /* background-color: aliceblue; */
  }
}

.weather-condition {
  font-family: 'outfit-r';
  font-size: 24px;
  line-height: .8;
  color: #9195C1;
  margin: 0;
  font-weight: normal;
  /* background-color: beige; */
}

.big-temperature {
  font-family: 'bebas-r';
  font-size: 160px;
  line-height: 1;
  color: var(--theme-color);
  display: flex;
  align-items: flex-start;
  height: fit-content;
  height: 126px;
  letter-spacing: -0px;
}

.degree-symbol {
  font-size: 120px;
  margin-top: 5px;
}

.ghost{
  color: transparent;
  /* background-color: antiquewhite; */
}

.minus{
  display: none;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;
  /* background-color: #BBBDD6; */
  font-size: 140px;
  height: 160px;
  width: 20px;
}

.temp-range-simple {
  display: flex;
  gap: 16px;
  font-family: 'outfit-r';
  font-size: 28px;
  line-height: .8;
  color: #9195C1;
  margin-left: 7px;
}

.temp-range-simple .high {
  color: var(--theme-color);
}

/* Weather Details */
.footer-info{
    display: flex;
    flex-direction: column;
  align-items: center;
  height: fit-content;
  gap: 12px;
  width: 100%;
}

.weather-details-row {
  display: flex;
  justify-content: space-around;
  width: 96%;
  min-width: 280px;
  max-width: 340px;
}

.detail-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  font-family: 'bebas-r';
  font-size: 20px;
  color: var(--theme-color);

}

.detail-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: start;
  justify-content: center;
  gap: 8px;
  color: #9195C1;
  overflow: hidden;
  flex: 1;
  min-height: 36px;
  padding: 2px 8px;

  svg{
  width: 26px;
  height: 26px;
  stroke-width: 1.5;
  }
}


.detail-text{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 2px;
}

.detail-value {
  font-family: 'bebas-r';
  font-size: 20px;
  color: var(--theme-color);
}

/* Weekly Forecast */
.weekly-forecast {
  display: flex;
  justify-content: space-between;
  width: 88%;
  min-width: 280px;
  max-width: 340px;
  /* overflow-x: auto; */
}

.forecast-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  /* background-color: #BBBDD640; */
  /* min-width: 50px; */
}

.forecast-day {
  font-family: 'outfit-m';
  font-size: 13px;
  line-height: 2.2;
  color: #9195C1;
}

.forecast-temp-high {
  font-family: 'bebas-r';
  font-size: 24px;
  line-height: .7;;
  color: var(--theme-color);
  margin-left: 4px;
}

.forecast-temp-low {
  font-family: 'bebas-r';
  font-size: 20px;
  line-height: .8;
  color: #9195C1;
  margin-left: 2px;
}

.forecast-icon {
  color: #9195C1;
    svg{
  width: 26px;
  height: 26px;
  stroke-width: 1.5;
  }
}
