/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';

/* Global Font Definitions */
@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit-M.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit-R.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/Outfit-L.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Mplus';
  src: url('./assets/fonts/Mplus-R.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Mplus';
  src: url('./assets/fonts/Mplus-M.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Cera';
  src: url('./assets/fonts/Cera-SB.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Cera';
  src: url('./assets/fonts/Cera-R.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Cera';
  src: url('./assets/fonts/Cera-M.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Bebas';
  src: url('./assets/fonts/Bebas-R.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Bebas';
  src: url('./assets/fonts/Bebas-T.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Bebas';
  src: url('./assets/fonts/Bebas-M.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Bebas';
  src: url('./assets/fonts/Bebas-Bk.otf') format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'Bebas';
  src: url('./assets/fonts/Bebas-Bd.otf') format('opentype');
  font-weight: 700;
}
