ion-content {
  --background: transparent;
}

#box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #73F4CB;
}

#container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  font-family: 'Cera', sans-serif;
}

.icon-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

app-icon {
  width: 160px;
  height: 160px;
  stroke-width: 7px;
  color: #202534;
}

h1 {
  color: #202534;
  font-weight: 900;
  line-height: 90%;
  font-size: 60px;
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

h2 {
  color: #20253440;
  font-weight: 900;
  line-height: 90%;
  font-size: 32px;
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

